body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

h1 {
    color: #3498db;
    font-size: 28px;
}

#array-container {
    display: flex;
    gap: 2px;
    justify-content: center;
    margin: 20px 0;
}

.bar {
    background-color: #3498db;
    margin: 0 1px;
    flex: 1;
}

.controls {
    margin: 20px 0;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    .controls {
        flex-direction: column;
    }
}
