@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');
body {
    background-color: #dfe6e9;
    transform: perspective(900px);
    transform-style: preserve-3d;
}

.title {
    width: 100%;
    text-align: center;
}

.title h1 {
    font-size: 50px;
    font-family: 'Exo', sans-serif;
}

.card1 {
    text-align: center;
    position: absolute;
    left: 100px;
    width: 250px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(225, 150, 58), rgb(227, 144, 91));
    transition: 0.6s;
    transform: rotateX(75deg) translateY(-200px) translateZ(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card1:hover {
    transform: rotateX(0deg);
    transform: rotateZ(0deg);
    transition: 0.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card1 img {
    transform: translateY(15px);
    width: 200px;
    height: 120px;
}

h3 {
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    transform: translateY(10px);
}

p {
    font-family: 'Abel', sans-serif;
    color: white;
    text-align: center;
    width: 220px;
    transform: translateX(12px);
}

/* Add styles for card2, card3, and footer here */


.card2 {
    text-align:center;
    position: absolute;
    left: 550px;
    width: 250px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(rgb(93,94,170),rgb(93,66,103));
    animation: animate 1s linear infinite;
    transition:.6s;
    
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  }
  .card2:hover{
     transform: rotatex(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  .card2 img{
    transform: translateY(15px);
    width:180px;
    height:150px;
  }
  .card3 {
    text-align:center;
    position: absolute;
    left: 1000px;
    width: 250px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(#ff5252, #b33939);
    transition:.6s;
    
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  }
  .card3:hover{
     transform: rotatex(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  .card3 img{
    transform: translateY(15px);
    width:200px;
    height:120px;
  }
  .footer{
    position: absolute;
    top: 500px;
    margin: 10px;
    width: 100%;
    text-align: center;
  }
  .footer h2{
    font-size:18px;
    font-family: 'Exo', sans-serif;
    
  }

  nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.gallery {
    text-align: center;
    margin: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

/* Rating styles */
.rating {
    margin-top: 10px;
    font-size: 16px;
    color: #ffcc00;
}